body {
    text-align: center;
    background-color: khaki;
    background-image: url("images/backdrop.png");
    background-attachment: fixed;
    padding: 0px;
}

h3 {
    font-family: monospace;
    font-size: 4vw;
    padding-left: 12%;
    text-align: left;
}

#aboutdiv {
    padding-left: 12%;
    padding-right: 12%;
}

#title {
    font-size: 150%;
    color: rgb(37, 133, 104);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#skills {
    font-family: monospace;
    border-radius: 30px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 150%;
    transition: 0.5s;
    background-color: rgba(49, 209, 161, 0.5);
}

#skills:hover {
    transform: scale(1.1);
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

#info {
    font-family: monospace;
    border-radius: 30px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 150%;
    transition: 0.5s;
    background-color: rgb(45, 197, 151, 0.5);
}

#info:hover {
    transform: scale(1.1);
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

#enddiv {
    background-image: url("images/bg.jpg");
    padding: 2%;
    background-attachment: inherit;
    border-radius: 10px;
}


#homelink {
    font-family: monospace;
    text-align: center;
    padding: 2px;
    border-radius: 20px;
    color: white;
    font-size: 90%;
    text-decoration: none;
    transition: 0.3s;
}

#homelink:hover {
    color:rgb(0, 255, 221);
    transition: 0.3s;
}

#homelink:active {
    color: rgb(166, 255, 0);
}