body {
    text-align: center;
    background-color: khaki;
    background-image: url("images/backdrop.png");
    background-attachment: fixed;
    padding: 0px;
}

#topbutton {
    background: none;
    border: none;
    outline: none;
    background-attachment: inherit;
    transition: 1s;
}

#topbutton:hover {
    transform: scale(1.1);
}

#topdiv {
    padding: 20px;
    background-image: url("images/bg.jpg");
    background-attachment: inherit;
    border-radius: 200px;
    
}

#lowerdiv {
    padding-left: 12%;
    padding-right: 12%;
}

#pfp {
    max-width: 25%;
    height: auto;
    transition: 1s;
}

#top {
    background-attachment: inherit;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 50px;
    text-align: center;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-image: url("images/bg.jpg");
    font-size: 1.5vw;
    transition: 1s;
}

#top:hover {
    transition: 1.00001s;
}

#aboutdiv {
    padding-left: 35%;
    padding-right: 35%;
}

#about {
    background-size: contain;
    transition: 0.4s;
}

#about:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

#interact {
    background: none;
    transition: 0.5s;
    border: none;
    outline:none;
}

#interact:hover {
    transform: rotate(-60deg);
    transition: 0.5s;
}

#interact:active {
    transform:rotate(180deg) scale(0.5);
    transition: 0.5s;
}

#link {
    background: none;
    border: none;
    outline: none;
    text-align: center;
    padding-right: 5px;
    height: 30px;
}

#link:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

#link:active {
    transform: scale(1);
    transition: 0.05s;
}

#profilelinks {
    padding-right: 15px;
    padding-left: 15px;
} 

#aboutlink {
    font-family: monospace;
    text-align: center;
    padding: 2px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    font-size: 90%;
    text-decoration: none;
    transition: 0.3s;
}

#aboutlink:hover {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.5);
    transition: 0.3s;
}

#aboutlink:active {
    color: khaki;
    background-color: rgba(32, 109, 99, 0.5);
}

#contactbutton {
    text-align: center;
    background-color:rgba(30, 158, 147, 0.5);
    font-family: monospace;
    border: none;
    padding: 7px;
    border-radius: 4px;
    color: rgb(250, 240, 149);
    outline: none;
    transition:0.1s
}

#contactbutton:hover {
    color: rgb(196, 186, 102);
    background-color: rgba(255, 255, 255, 0.5);
    transition:0.5s
}

#contactbutton:active {
    color: khaki;
    background-color: rgba(0, 0, 0, 0.76);
    transform:scale(0.95, 0.95);
    transition:0.01s;
}

a {
    color: white;
    padding-bottom: 3px;
}